#map {
    width: 1600px;
    height: 500px;
}

.div-inline {
    display: inline-block;
}

#content {
    -webkit-box-shadow: 0px 7px 30px 5px rgba(50, 50, 50, 0.71);
    -moz-box-shadow:    0px 7px 30px 5px rgba(50, 50, 50, 0.71);
    box-shadow:         0px 7px 30px 5px rgba(50, 50, 50, 0.71);
    background-color: white;
    margin: 5px 100px;
    /*overflow: hidden;*/
    padding: 5px 20px;
}

body {
    background-color: #E0F8E6;
}