body {
    background-color: #E0F8E6;
}

#button-container {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color: #C7D6CB;
    box-sizing: border-box;
    float: left;
    height: 100%;
    margin-right: 5px;
    padding: 5px 5px;
    width: 15%;
}

#content {
    -webkit-box-shadow: 0px 7px 30px 5px rgba(50, 50, 50, 0.71);
    -moz-box-shadow:    0px 7px 30px 5px rgba(50, 50, 50, 0.71);
    background-color: white;
    box-shadow:         0px 7px 30px 5px rgba(50, 50, 50, 0.71);
    margin: 5px 100px;
    padding: 5px 5px;
}

#csv-input {
    float: left;
    height: 100%;
    opacity: 0;
    width: 100%;
}

#destination {
    width: 32%;
}

#display-distance-information { 
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color: #F0FDF4;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: calc(85% - 5px);
}

#distance {
    width: 32%;
}

div h1 {
    font-family: helvetica;
}

.div-inline {
    display: inline-block;
}

#input-file {
    background: url(http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Very-Basic-Upload-icon.png);
    background-position: center;
    background-color: #C7D6CB;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 100%;
    width: 100%;
}

#map {
    height: 500px;
    width: 100%;
}

#options {
    height: 120px;
    margin-top: 5px;
    width: 100%;
}

#origin {
    width: 32%;
}

p {
    font-family: helvetica;
    font-size: 15px;
}